
{{!-- diseño de pagina web de inicio
desde el endpoint me envian el
objeto con la propiedad PRODUCTOS
para loopear la sintaxis de each de hbs 
--}}




<main>
    <div class="d-flex flex-wrap justify-content-evenly">
        <h1>BIENVENIDO A SOCCER</h1>
    
        <p>
            <img
                id="logo"
                src="https://www.regaloempresas.com/productosg/alta/19544168.JPG"
                alt="logo">
        </p>
    </div>
    <div><p class="d-flex flex-wrap justify-content-evenly">Mira todos nuestro productos al mejor precio!</p></div>
   
    
    <div class= 'd-flex flex-wrap justify-content-evenly'>
    {{#each products}}
<div class="card" style="width: 18rem;">
  <img src="{{products.photo}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{products.title}}</h5>
    <p class="card-text">Camiseta</p>
    <a href="#" class="btn btn-primary">Agregar</a>
  </div>
</div>
{{/each}}
</div>

</main>