<div class= 'd-flex flex-wrap justify-content-evenly'>
    {{#each pr}}
    <div class="card" style="width: 18rem;">
      <img src="{{photo}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">camiseta</p>
        <a href="#" class="btn btn-primary">Agregar!</a>
      </div>
    </div>
    {{/each}}
</div>
<div>
  <h3>NEW PRODUCT</h3>
</div>